<% unless current_user %>
  <h3>Login to your account:</h3>
  <p style="color:red;"><%= notice %></p>

  <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :name %><br />
      <%= text_field_tag :name, params[:name] %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>
    <p class="button"><%= submit_tag "Log in" %></p>
  <% end %>
<% else %>
  <%= render :file => "reports/index" %>
<% end %>
