<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <%= f.label :name %>:
    <%= f.text_field :name %><br />

    <%= f.label :password %>:
    <%= f.text_field :password %><br />

    <%= f.label :phone_number %>:
    <%= f.text_field :phone_number %><br />

    <%= f.label :place_id %>:
    <%= collection_select(:user, :place_id, @places, :id, :name) %><br />

    <%= f.submit %>
  </div>
<% end %>