<%= will_paginate @users %>

<% if @users.any? %>
  <table class="round full table-grid">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Location</th>
        <th>Type</th>
        <th>Can login?</th>
        <th></th>
      </tr>
    </thead>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td title="<%= user.name %>"><%= user.name %></td>
        <td title="<%= user.phone_number %>"><%= user.phone_number %></td>
        <td title="<%= user.place.name %>"><%= user.place.name %></td>
        <td title="<%= user.place.place_type.code %>"><%= user.place.place_type.code %></td>
        <td title="<%= user.can_login %>"><%= user.can_login %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>
  <br/>

  <%= will_paginate @users %>
<% end %>

<%= link_to "New", new_user_url %>