/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_tree.
*/
body{font-family:"Calibri", Sans-Serif}
h1{text-align:center}

#page_content{overflow:hidden;width:980px;margin:0 180px 0}

#header{width:980px;margin:0 180px 0; text-align:right}

#paginate .pagination{display:inline}
#paginate a, #paginate p{display:inline;text-decoration:none}
#paginate a:visited{color:black}
#paginate .showReport{display:inline;margin-left:50px;padding:3px;border:1px solid #DBDBDB;background:#F2F2F2;cursor:pointer}
#paginate .exportCSV{visibility:hidden;float:right}
#paginate .exportCSV a{visibility:visible;color:blue}
#paginate .date_button{ display: inline; }
#paginate .date_button p{ border:1px solid #DBDBDB; cursor: pointer; padding: 3px 8px; }
#paginate th{padding: 4px; background: #F2F2F2; font-size: 130%}
#paginate td.hc{text-align: left; padding-left: 10px}

#showDate{margin-left:50px}
#noRecord{color:red; text-align:center}
#table{margin-top:8px}

.group_by{display:inline}

.tbReport
{
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
.tbReport th
{
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	background: #666;
	border-bottom: 1px solid #fff;
	color: #fff;
}
.tbReport td
{
	padding: 4px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid transparent;
}
.tbReport .disease
{
	color: inherit;
	font-size: 13px;
}
.tbReport .zeroValue
{
	/*color:blue;*/
}
.tbReport .nonZeroValue
{
	/*color:red;*/
}
.tbReport .footer
{
  color: #fff;
	font-size: 14px;
	font-weight: bold;
	background: #666;
}
.tbReport tr
{
	background: #f6f6f6;
	color: #000;
}
.tbReport .missedReport
{
	color: #bbbcb9;
	background: #e6e3e3;
}
.tbReport tr:hover td
{
	background: #e7f5ce;
	color: #000;
}
