<div id="table">
  <table class="tbReport" cellspacing="0" cellpadding="0">
    <thead>
      <th>Health Center</th>
      <th>AWD</th>
      <th>F-R</th>
      <th>AFP</th>
      <th>ARI</th>
      <th>DHF</th>
      <th>ME</th>
      <th>AJ</th>
      <th>DPT</th>
      <th>RAB</th>
      <th>NT</th>
      <th>MD</th>
      <th>Other</th>
    </thead>
    <tbody>
    <% @results.each do |health_centers, diseases| %>
      <tr>
        <td class="hc"><%= health_centers %></td>
        <td><%= diseases["AWD"] ||= 0 %></td>
        <td><%= diseases["F-R"] ||= 0 %></td>
        <td><%= diseases["AFP"] ||= 0 %></td>
        <td><%= diseases["ARI"] ||= 0 %></td>
        <td><%= diseases["DHF"] ||= 0 %></td>
        <td><%= diseases["ME"] ||= 0 %></td>
        <td><%= diseases["AJ"] ||= 0 %></td>
        <td><%= diseases["DPT"] ||= 0 %></td>
        <td><%= diseases["RAB"] ||= 0 %></td>
        <td><%= diseases["NT"] ||= 0 %></td>
        <td><%= diseases["MD"] ||= 0 %></td>
        <td><%= diseases["Other"] ||= 0 %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>