<% if current_user %>
  <% date = params[:date] %>
  <% report_by = params[:report_by] %>
  <h1><p class = "group_by">Weekly</p>&nbsp;Zero Report</h1>

  <%= form_tag reports_path, :method => :get do %>
    <div id="paginate">
      <p>Show report by</p>
      <%= select_tag(:report_by, options_for_select(%w{Weekly Monthly Yearly}, {:selected => @report_by}),
      :onchange => "this.form.submit();") %>

      <div class="date_button">
        <p id="previous_date_button"><%= link_calendar_to @from_date, @report_by, -1 %></p>
        <p id="next_date_button"><%= link_calendar_to @from_date, @report_by, 1 %></p>
      </div>

      <!-- <%= hidden_field_tag(:date, date) %> -->
      <%= hidden_field_tag(:previous_view, @previous_view) %>
      <%= hidden_field_tag(:from, @from_date) %>
      <%= hidden_field_tag(:to, @to_date) %>

      <span id="showDate">
        <% if @report_by == "Weekly" %>
          Week: <%= @week_number %>
        <% end %>
        (<%= @from_date.strftime("%d-%b-%Y") %> to <%= @to_date.strftime("%d-%b-%Y") %>)
      </span>
      <!-- <%= submit_tag "Show Report", :class => "showReport" %> -->

      <span class="exportCSV"><%= link_to("Export CSV",
      export_csv_reports_path(:from => @from_date, :to => @to_date)) %></span>
    </div>
  <% end %>
  <br />
  <%= crosstab @places, @diseases, @reports %>
<% else %>
  <%= render :file => "sessions/new" %>
<% end %>
