<% if current_user %>
  <% username = current_user.name %>
  <% placename = current_user.place.name %>
<% end %>
<!DOCTYPE html>
<html>
<head>
  <title>Weekly Zero Report - <%= placename %></title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user_nav">
    <p id="header">
      <% if current_user %>
        <% username %>
        Welcome: <%= username %> <b>(<%= placename %>)</b> |
        <%= link_to "Report", reports_url %> |
        <%= link_to "Users", users_url %> |
        <%= link_to "Log out", logout_path %>
      <% end %>
    </p>
  </div>
  <div id="page_content">
  <%= yield %>
  </div>
</body>
</html>